<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title,remove)" th:remove="${remove}">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>[[${title}]]</title>
 <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    
</head>
<body>
          <th th:fragment="column_link(fieldName,columnLabel, removeTag)" th:remove="${removeTag}">
                      <a  class="text-white"
                          th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField='+ ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyWord != null ? '&keyWord=' + keyWord : '&keyWord=' + ''}
                          + ${categoryID != null ? '&categoryID=' + categoryID : ''}}"
                      >[[${columnLabel}]]</a>
                       <span th:if="${sortField == fieldName}"
                            th:class="${sortDir ==  'asc' ? 'fas fa-sort-up' :'fas fa-sort-down'}"
                      ></span>
          </th>
          
          <a 
          th:fragment="page_link(pageNum,Label)"
          class="page-link" 
          th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : '&keyWord=' + ''} + ${categoryID != null ? '&categoryID=' + categoryID : ''}}">
          [[${Label}]]
          </a>
          
          
          <div th:fragment="footer" class="text-center m-3">
           <p> Shopme Control Panel -CopyRight &copy; Shopme </p>
        </div>
          
          
          
                 <div th:fragment="category_status">
                  <a th:if="${category.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green" 
                           th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                           title="Disabled Category"></a> 
                           <a th:if="${category.enabled == false}" class="fa-solid fa-circle-check fa-2x icon-dark" 
                           th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                           title="Enable Category"></a> 
                 </div>          
                     
                     
                 <div th:fragment="category_action">
                      <a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/categories/edit/' + ${category.id}}" title="Edit this category"></a>
                            &nbsp; 
                            <a class="fa-solid fa-trash icon-dark fa-2x link-delete" 
                            th:href="@{'/categories/delete/' + ${category.id}}" 
                            th:categoryId="${category.id}"
                            title="Delete this category"></a>
                 </div>
                         
                  <div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
	<a th:if="${enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green" 
		th:href="@{${entityURL} + '/enabled/false'}"
		th:title="'Disable this ' + ${entityName}"
		></a>
		
	<a th:if="${enabled == false}" class="fa-solid fa-circle-check fa-2x icon-dark" 
		th:href="@{${entityURL} + '/enabled/true'}"
		th:title="'Enable this ' + ${entityName}"
		></a>	
</div>
            
            
            
            <div th:fragment="edit(entityName, editURL)" th:remove="tag">
	<a class="fas fa-edit fa-2x icon-green" th:href="@{${editURL}}"
		th:title="'Edit this ' + ${entityName}"></a>
</div>



<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
	<th:block th:if="${visible}">		
	<a class="fas fa-trash fa-2x icon-dark link-delete" 
		th:href="@{${deleteURL}}"
		th:entityId="${entityId}"
		th:title="'Delete this ' + ${entityName}">
	</a>
	</th:block>	
</div>   
        
        <div th:fragment="pagination(entityName)" th:remove="tag">
        
          <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
        </div>
          <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No [[${entityName}]] found</span>
        </div>
        
        <div th:if="${totalPages > 1}">
             <nav >
                <ul class="pagination justify-content-center flex-wrap">
                     <li  th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(1,'First')"></a>
                     </li>
                     <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                         <a th:replace="fragments :: page_link(${currentPage - 1},'Previous')"></a>
                     </li>
                     <li th:class="${currentPage != i ? 'page-item':'page-item active'}" th:each="i:${#numbers.sequence(1,totalPages)}">
                          <a th:replace="fragments :: page_link(${i},${i})"></a>
                     </li>
                     
                     
                     
                     <li th:class="${ currentPage < totalPages ? 'page-item':'page-item disabled'}">
                          <a th:replace="fragments :: page_link(${currentPage + 1},'Next')"></a>
                         
                     </li>
                      <li th:class="${ currentPage < totalPages ? 'page-item':'page-item disabled'}">
                          <a th:replace="fragments :: page_link(${totalPages},'Last')"></a>
                          
                     </li>
                </ul>
             </nav>
        </div>
       </div>       
         
         
          <div th:fragment="search_form()">
           
            <form th:action="@{${moduleURL} + '/page/1'}" class="form-inline">
                  <input type="hidden" name="sortField" th:value="${sortField}" >
                  <input type="hidden" name="sortDir" th:value="${sortDir}" >
                  Filter:&nbsp;
                  <input type="search" name="keyWord" th:value="${keyWord}" class="form-control" />
                  &nbsp;&nbsp;
                  <Button type="submit"  class="btn btn-primary" > 
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </Button>
                   &nbsp;&nbsp;
                  <Button type="button"  class="btn btn-secondary" onClick="clearFilter()" >
                       <i class="fa-solid fa-eraser"></i>
                   </Button>
                   <div th:if="${message != null}" class="alert  alert-success text-center">
                       [[${message}]]
                   </div>
            </form>
        </div>
        
        <div th:fragment="format_currency(amount)" th:remove="tag">
               <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before Price'}" th:remove="tag">
                   [[${CURRENCY_SYMBOL}]]
               </span>
               [[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
               <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">
			        [[${CURRENCY_SYMBOL}]]
			   </span>
        </div>
        
        <div th:fragment="format_time(dateTime)" th:remove="tag">
		    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
	    </div>
	    <div th:fragment="currency_input(amount)" th:remove="tag">
		<input type="text" readonly class="form-control"
			th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
	</div>
	    
</body>
</html>