<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments:: page_head(${pageTitle},'tag')"> </head>
    <link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/rating-star/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/rating-star/themes/krajee-svg/theme.js}"></script>
</head>
<body>
     <div class="container-fluid">
         <div th:replace="navigation::header_menu"></div>
         <div th:replace="navigation::search_nav"></div>
         
         <div th:replace="breadcrumb::content"></div>
         
       <div class="row">
            <div class="col-sm">
                <div>
                   <img  id="bigImage"  th:src="@{${product.mainImagePath}}" class="img-fluid" index="0">
                </div>
                <div class="row justify-content-center">
                    <div class="m-2 border border-secondary " >
                           <img class="image-thumbnail"  th:src="@{${product.mainImagePath}}"  height="50" index="0">
                    </div>
                    <th:block th:each="extraImage,status : ${product.images}"> 
                            <div class="m-2 border border-secondary" >
                                <img class="image-thumbnail"  th:src="@{${extraImage.imagePath}}"  height="50" th:index="${status.count}">
                            </div>
                    
                    </th:block>               
                </div>
            </div>
            <div class="col-sm">
               <div >
                   <h2>[[${product.name}]]</h2>
               </div>
               <div class="row ml-1">
                    <div class="col-xs">
                        <input type="text" class="product-detail-rating-star" dir="ltr" data-size="md" th:value="${product.averageRating}">
                    </div>
                    <div class="col-xs ml-1 mt-3">
                         <a th:href="@{${product.URI} + '#review'}">[[${product.reviewCount}]]
							rating(s)</a>
                    </div>
               </div>
               <div>
                   <span>[[${product.brand.name}]]</span>
               </div>
                     <div >
                        List price
                       <span th:if="${product.discountPercent <= 0}"><div th:replace="products/product_fragments :: price_fragment(${product.price})"></div></span>
                       <del th:if="${product.discountPercent > 0}"><span><div th:replace="products/product_fragments :: price_fragment(${product.price})"></div></span></del>
                       
                     </div>
                    
                     <div th:if="${product.discountPercent > 0}">
                       Price: 
                       <span style="font-size: Larger; color: darked"><div th:replace="products/product_fragments :: price_fragment(${product.discountPrice})"></div></span>
                       ([[${#numbers.formatDecimal(product.discountPercent,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]] % off)
                    </div>
                    <div>&nbsp;</div>
                    <div th:utext="${product.shortDescription}">
                       
                    </div>
            </div>
             <div class="col-sm-2"> 
                 <div>
                    <span th:if="${product.inStock && product.quantity > 0}" class="text-success"><b>In Stock</b></span>
                    <span th:if="${!product.inStock && !product.quantity > 0}" class="text-danger"><b>Out of Stock</b></span>
                    <span th:if="${product.quantity <= 0}">Out of Stock</span>
                 </div>
                 <!-- 
                 <div th:if="${product.inStock}" class="mt-2">
                     <input type="text" size="5" value="1">
                 </div>
                 -->
                 <div th:if="${product.inStock && product.quantity > 0}">
                     <div th:replace="cart/quantity_control :: quantity_control(1,${product.id},${product.quantity})"></div>
                 </div>
                 <div th:if="${product.inStock && product.quantity > 0}" class="mt-3">
                     <input type="button" id="buttonAddToCart" value="Add to cart" class="btn btn-primary">
                 </div>
             </div>
       </div>
         
         <div class="row">
             <div class="col-12">
                <div><hr/></div>
                <div>
                   <h3>Product Description</h3>
                </div>
                <div th:utext="${product.fullDescription}">
                   
                </div>
             </div>
         </div>
          <div class="row">
             <div class="col-12">
                <div><hr/></div>
                <div>
                   <h3>Product Details</h3>
                </div>
                <th:block th:each="detail : ${product.details}"> 
                  <div>
                    <b>[[${detail.name}]]</b>
                    <span>[[${detail.value}]]</span>
                  </div>  
                </th:block>
             </div>
         </div>
           <div th:replace="products/question_answer :: content"></div>
           <div th:replace="products/product_top_reviews :: content"></div>
           <div th:replace="products/image_carousel :: content"></div>
           <div th:replace="fragments::modal_dialog"></div>
           <div th:replace="navigation::footer_menu"></div>
     </div>
     <script type="text/javascript">
     
       var contextPath = "[[@{/}]]";
       var productID = "[[${product.id}]]";
       
       var decimalSeparator = "[[${DECIMAL_POINT_TYPE == 'COMMA' ?  ',' : '.'}]]";
       var thousandSeparator = "[[${THOUSANDS_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
       
       var csrfHeaderName = "[[${_csrf.headerName}]]";
       var csrfValue = "[[${_csrf.token}]]";
       
          $(document).ready(function(){
        	  bigImage = $("#bigImage");
        	  
        	  $(".image-thumbnail").mouseover(function(){
        		  currentImageSource = $(this).attr("src");
        		  currentImageIndex = $(this).attr("index");
        		  bigImage.attr("src",currentImageSource);
        		  bigImage.attr("index", currentImageIndex);
        	  });
        	  bigImage.on("click",function(){
        		  $("#carouselModal").modal("show");
        		  imageIndex = parseInt(bigImage.attr("index"));
        		  $("#carouselExampleIndicators").carousel( imageIndex );
        	  })
        	  
        	  formatRatingNumber();
          });
          
          //Hiển thị sao
          $(".product-detail-rating-star").rating({
        	  displayOnly:true,
        	  hoverOnclera:false,
        	  showCaption:false,
        	  theme:'krajee-svg'
          })
          
          function formatRatingNumber(){
        	  ratingText = $("#ratingNumber").text();
        	  formatRating = $.number(ratingText,2,decimalSeparator,thousandSeparator);
        	  $("#ratingNumber").text(formatRating);
          }
     </script>
     <script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
     <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
     <script th:src="@{/js/quantity_control.js}" type="text/javascript"></script>
     <script type="text/javascript" th:src="@{/js/add_to_cart.js}"></script>
     <script type="text/javascript" th:src="@{/js/review_vote.js}"></script>
     <script type="text/javascript" th:src="@{/js/question_post.js}"></script>
     
</body>
</html>