<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<body>
        <div th:fragment="content" th:remove="tag">
            <div class="row" id="divProductImages">
                  <div class="col border m-3 p-2">
                        <div>
                            <label>Main Image: [[${product.mainImage}]]</label>
                            
                        </div>
                        <div>
                            <img alt="Main image review" th:src="@{${product.mainImagePath}}" class="img-fluid" id="thumbnail">
                        </div>
                        <div>
                             <input type="file" id="fileImage" name ="fileImage" th:required="${product.mainImage == null}" accept="image/png, image/jpeg">
                        </div>
                        <input type="hidden" th:field="*{mainImage}">
                  </div>
                  
                  <th:block th:each="productImage,status : ${product.images}">
                     <div class="col border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
                        <div >
                            <label>Extra Image [[${status.index + 1}]] with name [[${productImage.name}]]</label>
                            <a name="linkRemoveExtraImage" class="btn fa-solid fa-times-circle fa-2x float-right" > </a>
                        </div>
                        <div>
                            <img th:alt="'Extra image' + ${status.index + 1} + 'review'" th:src="@{${productImage.imagePath}}" class="img-fluid" 
                            th:id="'extraThumbnail' + ${status.index}">
                        </div>
                        <div>
                             <input type="file"  name ="extraImage"  accept="image/png, image/jpeg">
                        </div>
                        <input th:value="${productImage.id}" type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}">
                        <input th:value="${productImage.name}" type="hidden" name="imageNames" th:id="'imageName' + ${status.index}"> 
                     </div>
                  </th:block>
                  
                  
                  
                  
                   <div class="col border m-3 p-2" th:id="'divExtraImage' + ${numberOfExistingImage}"> 
                        <div th:id="'extraImageHeader' + ${numberOfExistingImage}">
                            <label>Extra Image [[${numberOfExistingImage + 1}]]</label>
                            
                        </div>
                        <div>
                            <img alt="'Extra image' + ${numberOfExistingImage} + 'review'" th:src="@{/images/image-thumbnail.png}" class="img-fluid" th:id="'extraThumbnail' + ${numberOfExistingImage}">
                        </div>
                        <div>
                             <input type="file"  name ="extraImage"  accept="image/png, image/jpeg">
                        </div>
                  </div>
                  
                  
                  
            </div>
            
            
        </div>
</body>
</html>