<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<body>
        <div th:fragment="content" th:remove="tag">
             <div class="m-2">
                 <label>Short Description:</label>
                 <textarea th:field="*{shortDescription}" class="form-control"  rows="5" required></textarea>
             </div>
               <div class="m-2">
                 <label>Full Description:</label>
                 <textarea th:field="*{fullDescription}" class="form-control"  rows="10" required></textarea>
             </div>
        </div>
</body>
</html>