<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments::page_head('Products-Listing Admin','none')"></head>
<body>
      <div class="container-fluid">
           <div th:replace="navigation::menu"></div>
           <div>
               <h2>Manage Products </h2>
                <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
               <a th:href="@{/products/new}" class="fa-solid fa-folder-plus fa-2x icon-dark"></a>
               <a th:href="@{/products/export/csv}" class="fa-solid fa-file-csv fa-2x"></a>
               </th:block>
         </div>
          
           <div th:if="${message != null}" class="alert alert-success text-center">
           [[${message}]]
        </div>
          <div>
               <form th:action="@{/products/page/1}" class="form-inline" id="searchForm">
                  <input type="hidden" name="sortField" th:value="${sortField}" >
                  <input type="hidden" name="sortDir" th:value="${sortDir}" >
                  
                  Category:
                  &nbsp;
                  <select class="form-control" name="categoryID" id="dropdownCategory">
                          <option value="0" >All Categories</option>
                          <th:block th:each="cate:${listCategories}">
                                   <option th:value="${cate.id}" th:selected="(${categoryID} == ${cate.id})">[[${cate.name}]]</option>
                          
                          </th:block>
                  </select>
                  
                  Filter:&nbsp;
                  <input type="search" name="keyWord" th:value="${keyWord}" class="form-control" />
                  &nbsp;&nbsp;
                  <Button type="submit"  class="btn btn-primary" > 
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </Button>
                   &nbsp;&nbsp;
                  <Button type="button"  class="btn btn-secondary" onClick="clearFilter()" >
                       <i class="fa-solid fa-eraser"></i>
                   </Button>
            </form>
          
          </div>
          
          
          <div class="full-details">
               <table class="table table-bordered table-striped table-hover table-responsive-xl"  >
                      <thead class="thead-dark">
                            <tr> 
                                
                                <th th:replace="fragments :: column_link('id','ID','none') "/>
                                <th>Main Image</th>
                                <th th:replace="fragments :: column_link('name','Product Name','none') "/>
                                <th th:replace="fragments :: column_link('brand','Brand','none') "/>
                                <th th:replace="fragments :: column_link('category','Category','none') "/>
                                <th>Quantity</th>
                                <th>Enabled</th>
                                <th></th>
                            </tr>
                     </thead>
                     <tbody>
                           <tr th:each="product:${listProducts}"> 
                                 <td >[[${product.id}]]</td>
                                 <td>  
                                      <!-- JSP -->
                                      <!-- c:each="product:{{listProducts}}"  -->
                                      <!-- Thymeleaf -->
                                      <img th:src="@{${product.mainImagePath}}" style="width:120px" class="img-fluid"/>                                  
                                 </td>
                                 <td>
                                  <a class="link-detail"  th:href="@{'/products/detail/' + ${product.id}}" title="view details product">[[${product.shortName}]]</a>
                                 </td>
                                 <td>[[${product.brand.name}]]</td>
                                 <td>[[${product.category.name}]]</td>
                                 <td>[[${product.quantity}]]</td>
                                 <td>
                                      <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                                    <div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})" />
                                      </th:block>
                                 </td>
                                 <td>
                                     <a class="fa-solid fa-file-alt fa-2x icon-green link-detail" th:href="@{'/products/detail/' + ${product.id}}" title="view details product"></a>
                                     &nbsp;
                                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor','Salesperson')">
                                    <div th:replace="fragments::edit('product','/products/edit/' + ${product.id})"/>
                                    </th:block>
                                    
                                    
                                     <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                                    <div th:replace="fragments::delete('products',${product.id},'/products/delete/' + ${product.id},true)"/>
                                     </th:block>
                                 
                                 </td>
                           </tr>
                     
                     </tbody>
               </table>
          </div>
          
          </div>
          
        
      
      <div th:replace="modal_fragments:: confirm_modal"></div>
      
      <div class="modal fade" id="detailModal">
           <div class="modal-dialog modal-xl">
                 <div class="modal-content">
                 
                 </div>
           </div> 
      </div>
      
       <div th:replace="fragments::pagination('products')"></div> 
      <div th:replace="fragments::footer"></div>
      
      <script th:src="@{/js/common.js}"></script>
      <script type="text/javascript">
      function clearFilter(){
    	   window.location = "[[@{/products}]]";
       }
      
      $(document).ready(function(){
      	$(".link-delete").on("click",function(e){
      		e.preventDefault();
      		showDeteleConfirmModal($(this),'product');
      	});
      	$(".link-detail").on("click",function(e){
      		e.preventDefault();
      		linkDetailURL = $(this).attr("href");
      		$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
      	});
      	$("#dropdownCategory").on("change",function(){
      		$("#searchForm").submit();
      	})
      });
      
      </script>
</body>
</html>