<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments:: page_head('Write Product Review','tag')"> </head>
    <link th:href="@{/rating-star/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/rating-star/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/rating-star/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/rating-star/themes/krajee-svg/theme.js}"></script>
</head>
<body>
     <div class="container-fluid text-center">
         <div th:replace="navigation::header_menu"></div>
         <div th:replace="navigation::search_nav"></div>
         
         <div >
              <h2>Write Product Review</h2>
         </div>
         
         <div>
              <img alt="" th:src="@{${product.mainImagePath}}" style="height:200px">
         </div>
         
         <div>
              <h4>[[${product.shortName}]]</h4>
              <div th:if="${customerReviewed}">
                    <span class="text-success">You have already reviewed this product</span>
              </div>
              <div th:if="${noReviewPermission}">
                    <span class="text-danger">You can not review this product because you do not buy this product or you have not received this product</span>
              </div>
         </div>
         
         <form th:if="${customerCanReviewed}" th:action="@{/post_review}" method="post" th:object="${review}" style="max-width: 600px; margin: 0 auto">
                <input type="hidden" name="productId" th:value="${product.id}">
                <div class="border border-secondary rounded p-3">
                    <p>
                        <input type="text"  th:field="${review.rating}"  class="product-detail-rating-star" dir="ltr" data-size="md" data-step="1" >
                    </p>
                    <p> 
                        <input type="text" th:field="*{headline}" class="form-control" required="required" minlength="10" maxlength="128" 
                               placeholder="Headline Or Sumary"
                        >
                    </p>
                    <p>
                        <textarea th:field="*{comment}" rows="3" cols="10" class="form-control" required="required" placeholder="Comment detail"></textarea>
                    </p>
                    <p>
                        <input type="submit" value="Post this review" class="btn btn-primary">
                    </p>
                </div>
         </form>
         <div>&nbsp;</div>
          <div th:replace="navigation::footer_menu"></div>
     </div>
<script type="text/javascript">
$(".product-detail-rating-star").rating({
	  
	  hoverOnclear:false,
	  theme:'krajee-svg'
})

</script>    
</body>
</html>