<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: page_head('Reset Form ','none')"> </head>
<body>
     <div class="container-fluid text-center">
         <div th:replace="navigation::header_menu"></div>
       
         
         <div>
         <h1>Shopping By Categories</h1>
         </div>
           <form th:action="@{/reset_password}" method="post" style="max-width:420px; margin: 0 auto">
                <input type="hidden" th:value="${token}" name="token">
                <div class="border border-secondary rounded p-3">
                     <p>Enter Your New Password. </p>
                </div>
                <div>
                    <p> 
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Your New Password" minlength="8" maxlength="15"     maxautofocus="autofocus" required="required"/>
                    </p>
                </div>
                 <div>
                    <p> 
                        <input type="password"  class="form-control" placeholder="Confirm Your New Password" minlength="8" maxlength="15"  maxautofocus="autofocus" required="required" oninput="checkPasswordMatch(this)"/>
                    </p>
                </div>
                <div>
                    <input type="submit" class="btn  btn-primary" value="Change Password">
                </div>
          </form>
          
          
          
          <div th:replace="navigation::footer_menu"></div>
     </div>
     <script type="text/javascript">
     function checkPasswordMatch(confirmPassword){
  	   if(confirmPassword.value != $("#password").val()){
  		   confirmPassword.setCustomValidity("Password do not match")
  	   }else{
  		   confirmPassword.setCustomValidity("")
  	   }
     }
     
     
     </script>
</body>
</html>